const path = require("path");

{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "sourceType": "module",
  "plugins": [
      "react",
      "eslint-plugin-react",
      "node"
    ],
    "parser": "babel-eslint",
    "rules": {
      "strict": 0
      "react/jsx-filename-extension": 0,
      "react/forbid-prop-types": 0,
      "quotes": [
        "error",
        "single"
        ]
 }

}
